html {
  background-color: #f0f0f0;
  font: 12px Arial;
}

body {
  margin: 0;
}

input .width100 {
  text-align: center;
  width: 97%;
  font: 14px Arial;
}

input .withButton {
  text-align: center;
  width: 97%;
  font: 14px Arial;
}


textarea {
  text-align: center;
  width: 97%;
  font: 14px Arial;
}

.app-header {
  background-color: #0077b8;
  color: #F0F0F0;
  font-family: 'Arial';
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  text-align: center;
}

